#Landscape GUI config file
positionx=551
positiony=513

mapfile=../../output/1.map
bin=../../bin/landscape

algorithm=0
seed=
height=5
roughness=0.2
islands=1
riversnumber=10
riverslength=20
riverswidth=20
amplitude=0.25
persistence=0.7
frequency=0.01
